/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

img {
    width: 100%;
}

#wrapper {
    min-height: 100%;
}

#content{
	padding-bottom: 100px;
}

.top-buffer { margin-top:2rem; }

/* Custom page header */
.header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
  margin-bottom: 2rem;
}

.footer {
  position: absolute;
  bottom: 16px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff;
}

.footer p {
	font-size: .8rem;
}

/* Home-content */
.home-content {
	position: relative;
	width: 100%;
	min-height: 100%;
}
.home-text {
	position: relative;
	margin-top: 40%;
}
.home-text h4{
	text-align: center;
	margin-bottom: 30px;
}

.home-text h3{
	text-align: center;
	margin-bottom: 30px;
}

fieldset {
	border-radius: 3px;
	padding: 20px !important;
}
.help-block {
	color: #e74c3c;
}

/* Login Page */
.form-login {
	position: relative;
	margin-top: 40%;
}

/* Register Page */
.form-register {
	position: relative;
	margin-top: 5%;
}

.form-register h3 , .form-login h3{
	text-align: center;
	margin-bottom: 30px;
}

/* Dashboard */
.card {
	border: 1px solid #f2f2f2;
}
.search-top {
	position: relative;
	margin-bottom: 2rem;
}
.img-circle {
    display: inline;
    height: 68px !important;
  	width: 68px !important;
}
.img-circle img {
  height: 68px !important;
  width: 68px !important;
  object-fit: cover !important;
}

.card-img-overlay h5 {
	position: relative;
	margin-top:160px;
	color: #ffffff;
	text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.94);
}

.card-img-overlay {
	height: 20%;
}

.list-group-item {
	border: 1px solid #f2f2f2;
}

.form-settings {
	position: relative;
} 

.lead {
	font-size: 1.2rem;
	text-align: justify;
}
.alert {
	margin-bottom: 2rem;
}
/*.comment-section {
	position: relative;
	width: 100%;
	margin-bottom: 0;
	display: block;
}
.left-comment{
	position: relative;
	float: left;
	width: 10%;
	height: 64px;
	display: inline-block;
	padding-right: 15px;
}
.right-comment{
	position: relative;
	width: 100%;
	float: left;
	height: 62px;
	display: inline-block;
}*/




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 720px;
  padding: 0 15px;
}